{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <title>Algo OSS Verifier</title>
  <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
  <link rel="stylesheet" href="{% static 'fa/all.min.css' %}">
  <link rel="stylesheet" href="{% static 'css/all.css' %}"
  <script src="{% static 'js/bootstrap.min.js' %}"></script>
</head>

<body>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="/">Algo OSS Verifier</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link" href="about/">About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="https://github.com/mark-ruddy/algo_open_source_verifier">Github</a>
        </li>
      </ul>
    </div>
  </nav>
  {% block content %}{% endblock content %}
  <footer class="custom-footer-container">
    Algo OSS Verifier @ 2022
  </footer>
</body>
</html>
