{% extends "base.html" %}

{% load crispy_forms_tags %}

{% block content %}
<div class="container", style="margin-top: 20px">
  <h3>Verify an Algorand on-chain application matches open source code</h3>
  {{ endblock }}
  <form action="", method="post">
    {% csrf_token %}
    {{ form|crispy }}
    <div style="margin-bottom: 10px">
      <button type="submit" name="verify" class="btn btn-success" title="Verify contract matches on-chain bytecode only">Verify</button>
      <button type="submit" name="verify_submit" class="btn btn-success" title="Verify and if successful submit result to the list">Verify and Submit</button>
    </div>
  </form>
  {% if messages %}
    {% for message in messages %}
      {% if message.tags == "success" %}
        <p class="alert alert-success">{{ message }}</p>
      {% elif message.tags == "danger" %}
        <p class="alert alert-danger">{{ message }}</p>
      {% else %}
        <p class="alert alert-danger">{{ message }}</p>
      {% endif %}
    {% endfor %}
  {% endif %}
</div>
<div class="container", style="margin-top: 40px">
  <h3>Submitted Source Code Verified Contracts</h3>
  <p>A list of user-submitted contracts verified against source code URL(s) at the time of submission. Ensure to re-verify at current time and check that the source code URL(s) are official before trusting a contract as verified.</p>
</div>
{% endblock content %}
