<div class="pagination" style="margin-bottom: 60px">
    <span class="step-links">
        {% if page.number and page.paginator.num_pages %}
          <span class="current">
              Page {{ page.number }} of {{ page.paginator.num_pages }}.
          </span>
        {% endif %}

        {% if page.has_previous %}
        <a href="?page={{ page.previous_page_number }}">Previous</a>
        {% endif %}
        {% if page.has_next %}
        <a href="?page={{ page.next_page_number }}">Next</a>
        {% endif %}
    </span>
</div>
