.custom-footer-container {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 50px;
  font-size: 1.15em;
  background-color: #212121;
  color: #FFFFFF;
  display: flex;
  justify-content: center;
  align-items: center;
}
