name: Run Algorand Verifier Library Tests and Django Webapp Tests
on: [push]
jobs:
  run-library-tests:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-python@v4
        with:
          python-version: '3.10'
      - run: python -m pip install -r algorand_verifier_lib/requirements.txt
      - run: python -m pytest algorand_verifier_lib/src/algorand_verifier_lib
    env:
      PURESTAKE_API_KEY: '${{ secrets.PURESTAKE_API_KEY }}'
  run-webapp-tests:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: UKnowWhoIm/django-test-action@v0.6
        working-directory: ./webapp
    env:
      PURESTAKE_API_KEY: '${{ secrets.PURESTAKE_API_KEY }}'
